nav {
  width: 100%;
  background-color: #0c5994;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 99;

  & .title {
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    color: white;
  }

  & ul {
    display: flex;
    flex-direction: row;
  }

  & ul li {
    padding: 20px 15px;
    list-style-type: none;
    transition: background-color 0.3s;
  }

  & ul li a {
    text-decoration: none;
    color: white;
  }

  & ul li:hover {
    background-color: #094573;
  }
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content:has(.openmobile) {
  flex-wrap: wrap;
}

.hamburger {
  display: none;
}

@media (max-width: 800px) {
  nav ul {
    display: none;
  }

  .hamburger {
    display: block;
    padding: 12px 0px;
  }
}

.openmobile {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding-bottom: 10px;
}

@media (min-width: 800px) {
  .openmobile {
    display: none;
  }
}
