@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Racing+Sans+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}
